# Ambiente virtual
venv/
.env
*.env

# Cache e arquivos Python compilados
__pycache__/
*.py[cod]
*.pyo

# Banco de dados SQLite
*.db
*.sqlite3

# Arquivos de mídia temporários / comprimidos
*.mp4
*.webm
*.avi
*.mov
*.mkv
*.jpg

# Logs e arquivos temporários
*.log
*.tmp
create_admin.py


# Configurações locais
*.swp
.DS_Store
.vscode/

# Pasta de build (se estiver usando alguma)
build/
dist/
